// Typography
$font-family-base: 'gotham', sans-serif;
$font-size-base: 0.875rem;
$font-size-lg: 1.125rem;
$font-size-sm: 0.75rem;

// Colors
$gray-100: #f8f8f9;
$gray-300: #dededf;
$gray-500: #a7a8a9;
$gray-600: #7c7c7c;
$gray-700: #505154;
$gray-900: #242529;

$blue: #00568f;
$purple: #95226c;
$pink: #ee3772;
$red: #de002b;
$orange: #ff6600;
$yellow: #fcbb2c;
$green: #9cb227;
$teal: #99cccc;
$cyan: #00a6c9;

$primary: $red;
$secondary: $gray-600;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $gray-100;

$colors: (
    'blue': $blue,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'gray': $gray-600
);

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark
);

$text-muted: $gray-600;
$text-muted-dark: $gray-700;

$input-color: $gray-700;
$input-placeholder-color: $gray-500;
$custom-control-label-color: $gray-700;

$component-active-bg: $blue;

// Body
$body-bg: $gray-100;
$body-color: $gray-900;

// Links
//
// Style anchor elements.
$link-decoration: underline;
$link-hover-decoration: none;
