// Typography
$font-family-base: 'gotham', sans-serif;
$font-size-base: 0.875rem;
$font-size-lg: 1.125rem;
$font-size-sm: 0.75rem;

// Colors
$gray-100: #f8f8f9;
$gray-300: #dededf;
$gray-500: #a7a8a9;
$gray-600: #7c7c7c;
$gray-700: #505154;
$gray-900: #242529;

$blue: #00568f;
$purple: #95226c;
$pink: #ee3772;
$red: #de002b;
$orange: #ff6600;
$yellow: #fcbb2c;
$green: #9cb227;
$teal: #99cccc;
$cyan: #00a6c9;

$primary: $red;
$secondary: $gray-600;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $gray-100;

$colors: (
    'blue': $blue,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'gray': $gray-600
);

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'warning': $warning,
    'danger': $danger,
    'light': $light
);

$text-muted: $gray-600;
$text-muted-dark: $gray-700;

$input-color: $gray-700;
$input-placeholder-color: $gray-500;
$custom-control-label-color: $gray-700;

$input-focus-border-color: $blue;
$custom-select-focus-border-color: $blue;
$input-btn-focus-color: rgba($blue, .25);

$steps-color-inactive: $gray-300;
$steps-border-color-inactive: transparent;
$steps-bg-color-inactive: $gray-100;

// Body
$body-bg: $gray-100;
$body-color: $gray-900;

// Components
$border-radius: 6px;
$border-radius-lg: 8px;
$border-radius-sm: 4px;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
$btn-border-width: 2px;
