@import '~bootstrap-vue/dist/bootstrap-vue.min.css';
@import '~nprogress/nprogress.css';
@import '~noty/src/noty';

@import '~tabler/scss/variables';
@import 'base/variables';
@import 'ui/main';
@import 'base/main';
// @import 'components/main';
