@import '~bootstrap-vue/dist/bootstrap-vue.min.css';
@import '~noty/src/noty';
@import '~selectize/dist/css/selectize.css';
@import '~tabler/scss/variables';
@import 'base/variables';
@import 'ui/main';
@import 'base/main';
@import 'components/main';
