@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&subset=latin-ext');
@import '~tabler-ui/src/assets/scss/variables.scss';
@import '~bootstrap/scss/bootstrap';
@import '~tabler-ui/src/assets/scss/dashboard/dashboard';
