# The ports to expose on the host machine (when the expose-web config is used)
HOST_WEB_PORT=8084
HOST_MAILHOG_PORT=8086

# MySQL credentials to use 
DB_DATABASE=itp-test-control
DB_USERNAME=itp-test-control
DB_PASSWORD=developer

# The user and group to use inside containers. Should match the UID of an
# appropriate user on the host machine, otherwise shared volumes will encounter
# permissions issues.
UID=1000:1000
