# configs and main entry
.env*
!.env.example
docker-compose.yml
/build/nginx-server.conf

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
vendor
node_modules
*.hot-update.json
*.hot-update.js

# composer itself is not needed
composer.phar
#composer.lock

# Mac DS_Store Files
.DS_Store
