.mermaid-diagram {
    min-height: 66px;
    opacity: 0;
    transition: opacity 0.1s;
    overflow-x: auto;

    &[data-processed='true'] {
        opacity: 1;
    }

    .label {
        color: $body-color;
        text-align: center;
    }

    .edgeLabel {
        background-color: #fff;
    }

    .node {
        rect {
            fill: #fff;
            stroke: $gray-300;
            color: $body-color;
        }

        &.is-active {
            rect {
                fill: $red;
                stroke: none;
            }

            .label {
                color: #fff;
            }
        }
    }

    .edgePath {
        .path {
            stroke: $gray-300;
            stroke-width: 1.5px;
        }

        .arrowheadPath {
            fill: $gray-300;
        }
    }

    .actor {
        fill: $gray-100;
        stroke: $gray-300;
        stroke-width: 0.5;
    }

    text.actor {
        stroke: none;
        fill: $body-color;
    }

    .messageText {
        fill: $body-color;
    }

    #arrowhead {
        path {
            fill: $gray-300;
        }
    }

    [class^='messageLine'] {
        stroke: $gray-300;
    }
}
