.mermaid {
    opacity: 0;
    transition: opacity 0.15s;

    &[data-processed='true'] {
        opacity: 1;
    }

    .label {
        color: $body-color;
        text-align: center;
    }

    .node {
        rect {
            fill: #fff !important;
            stroke: #fff !important;
            color: $body-color;
        }

        &.is-active {
            rect {
                fill: $red !important;
            }

            .label {
                color: #fff !important;
            }
        }
    }

    .edgePath {
        .path {
            stroke: $gray-300 !important;
        }

        .arrowheadPath {
            fill: $gray-300 !important;
        }
    }

    .actor {
        fill: #fff !important;
        stroke: #fff !important;
    }

    text.actor {
        font-size: 13px !important;
        stroke: none !important;
        fill: $body-color !important;
    }

    .messageText {
        font-size: 13px !important;
        fill: $body-color !important;
    }

    #arrowhead {
        path {
            fill: $gray-300 !important;
        }
    }

    [class^="messageLine"] {
        stroke: $gray-300 !important;
    }
}
