.mermaid {
    opacity: 0;
    transition: opacity 0.15s;

    &[data-processed='true'] {
        opacity: 1;
    }

    .label {
        color: $body-color;
        text-align: center;
    }

    .edgePath {
        .path {
            stroke: $gray-300 !important;
        }

        .arrowheadPath {
            fill: $gray-300 !important;
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            .path {
                stroke: $body-color !important;
            }

            .arrowheadPath {
                fill: $body-color !important;
            }
        }

        &:nth-child(2),
        &:nth-child(7) {
            .path {
                stroke: $teal !important;
            }

            .arrowheadPath {
                fill: $teal !important;
            }
        }
    }

    .clickable {
        cursor: pointer;

        .label {
            transition: color 0.15s;
        }

        rect {
            transition: fill 0.15s;
        }
    }
}
