.mermaid {
    opacity: 0;
    transition: opacity 0.15s;

    &[data-processed='true'] {
        opacity: 1;
    }

    .label {
        color: $body-color;
        text-align: center;
    }

    .node {
        rect {
            fill: #fff;
            stroke: #fff;
            color: $body-color;
        }

        &.is-active {
            rect {
                fill: $red;
            }

            .label {
                color: #fff;
            }
        }
    }

    .edgePath {
        .path {
            stroke: $gray-300;
            stroke-width: 1.5px;
        }

        .arrowheadPath {
            fill: $gray-300;
        }
    }

    .actor {
        fill: #fff;
        stroke: #fff;
    }

    text.actor {
        stroke: none;
        fill: $body-color;
    }

    .messageText {
        fill: $body-color;
    }

    #arrowhead {
        path {
            fill: $gray-300;
        }
    }

    [class^="messageLine"] {
        stroke: $gray-300;
    }
}
