.json-tree-wrapper {
    position: relative;
    background-color: $gray-100;

    [data-clipboard-btn] {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        z-index: 1;
    }
}

.vjs-tree {
    word-wrap: break-word;

    &.is-root {
        background-color: inherit !important;
    }

    .vjs-tree {
        &__brackets {
            &:hover {
                color: $body-color !important;
            }
        }
    }

    .vjs-value {
        &__string {
            color: $primary !important;
        }

        &__number,
        &__boolean,
        &__null {
            color: $mint !important;
        }
    }
}
