.toggle-switch {
  position: relative;
  width: 2.75rem;
  height: 1.5rem;
  padding: 0 0.25rem;
  border: 1px solid $gray-300;

  &::after {
    content: '';
    position: absolute;
    top: 0.175rem;
    right: 0.175rem;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 1px solid $gray-300;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.15s;
  }

  .toggle-switch-icon {
    transition: opacity 0.15s;

    &:last-child {
      opacity: 0;
    }
  }

  &.enabled {
    &::after {
      transform: translateX(-1.25rem);
    }

    .toggle-switch-icon {
      &:first-child {
        opacity: 0;
      }

      &:last-child {
        opacity: 1;
      }
    }
  }
}
