.text-editor {
  &_focused {
    .form-control {
      border-color: $blue;
      box-shadow: 0 0 0 0.2rem rgba($blue, 0.25);
    }
  }
  .ProseMirror {
    overflow: auto;
    min-height: 100px;
    max-height: 50vh;
    outline: none;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0.25em;
    }
  }
}
