$flow-chart-margin: 64px;

.flow-chart {
    $root: &;

    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;

    &-wrapper {
        max-width: 932px;
        width: 100%;
    }

    &-legend {
        max-width: 198px;
        width: 100%;
    }

    &-content {
        flex-grow: 1;
    }

    &__header {
        width: 100%;
        height: 100%;
        padding: 10px 15px;
        color: inherit;
        text-decoration: none;

        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 0;
        min-width: 135px;
        min-height: $flow-chart-margin;
        text-align: center;
        border-radius: $border-radius;
        background-color: $white;
        box-shadow: 0 2px 4px rgba($gray-900, 0.1);

        &:not(:last-child) {
            margin-right: $flow-chart-margin;
        }

        &.is-active {
            box-shadow: inset 0 0 0 2px $primary;

            #{$root}__actions {
                color: $teal;
            }
        }

        &.is-inactive {
            #{$root}__actions {
                border-style: dashed;
            }
        }

        &[data-flow-enabled] {
            cursor: pointer;
        }
    }

    &__actions {
        position: absolute;
        top: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: $flow-chart-margin;
        height: 100%;
        color: $gray-300;
        border-style: solid;
        border-width: 0;
    }

    &__btn {
        width: 100%;
        color: inherit;
        border-style: inherit;
        transition: $btn-transition;

        &.is-active {
            &::before {
                box-shadow: 0 2px 4px rgba($teal, 0.8);
            }
        }

        &:hover {
            color: inherit;
            text-decoration: none;
        }

        &:last-child {
            transform: scale(-1);
        }
    }
}

.mermaid {
    opacity: 0;
    transition: opacity 0.15s;

    &[data-processed='true'] {
        opacity: 1;
    }

    .label {
        color: $body-color;
        text-align: center;
    }

    .edgePath {
        .path {
            stroke: $gray-300 !important;
        }

        .arrowheadPath {
            fill: $gray-300 !important;
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            .path {
                stroke: $body-color !important;
            }

            .arrowheadPath {
                fill: $body-color !important;
            }
        }

        &:nth-child(2),
        &:nth-child(7) {
            .path {
                stroke: $teal !important;
            }

            .arrowheadPath {
                fill: $teal !important;
            }
        }
    }

    .clickable {
        cursor: pointer;

        .label {
            transition: color 0.15s;
        }

        rect {
            transition: fill 0.15s;
        }
    }
}
