$tutorials-red-color: $primary;

.tutorial-cards {
  .scenario-card {
    border: solid 2px $tutorials-red-color;
  }

  .icon {
    height: 30px;
    width: 30px;
  }
}

.tutorial-accordion {
  .demo-container {
    width: 65%;

    .target-circle {
      --size-factor: 5;
      --border-width: 2px;
      --translate-x: 0;
      --translate-y: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: calc(1% * var(--size-factor));
      padding-bottom: calc(1% * var(--size-factor));
      overflow: visible;
      border: none;
      background: transparent;
      box-shadow: none;
      transform-origin: center;
      transform: translate(
        calc(
          1% * (var(--translate-x) - var(--size-factor) / 2) * 100 /
            var(--size-factor)
        ),
        calc(
          1% * (var(--translate-y) - var(--size-factor) / 2) * 100 /
            var(--size-factor)
        )
      );
      cursor: pointer;
      appearance: none;
      outline: none;
      transition: transform 0.5s ease;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: solid var(--border-width) $primary;
        border-radius: 50%;
        animation: scale-animation 2s infinite alternate,
          pulse-animation 4s infinite;
      }

      @keyframes pulse-animation {
        0% {
          box-shadow: 0 0 0 0 rgba($primary, 0.2);
        }
        100% {
          box-shadow: 0 0 1px 20px rgba($primary, 0);
        }
      }

      @keyframes scale-animation {
        0% {
          transform: scale(0.6);
        }
        100% {
          transform: scale(1);
        }
      }
    }

    .demo-inner-container {
      position: relative;
      overflow: hidden;
    }

    .slide-img-holder {
      --img-height-ratio: calc(9 / 16);
      position: relative;
      padding-bottom: calc(100% * var(--img-height-ratio));
      .slide-img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
      }
    }

    .demo-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-color: #000;
      opacity: 0.75;
      border-radius: 5px;
      border: 1px solid #000;
    }

    .start-demo-btn {
      position: absolute;
      z-index: 6;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
