html {
    scroll-behavior: smooth;
}

div[role=tablist] {
    padding-top: 20px;
}

.scenario-card {
    width: 350px;
    height: 150px;
    color: #de002b;
    text-align: center;
    border: solid 2px #de002b;
}

#scenario-heading {
    margin:auto;
    line-height:50px;
    vertical-align:middle;
}

#scenario-desc {
    color: #0a0c0d;
    text-align: left;
    font-weight: 200;
    padding-top: 5px;
    padding-left: 10px;
}

#demo-desc {
    color: #0a0c0d;
    padding-top: 10px;
    padding-left: 10px;
}

.scenario-accordion {
    color: #de002b;
}

.icon {
    height: 30px;
    width: 30px;
    color: #de002b;
    position: relative;
    margin-top: -0.325em;
}


.tutorial-text {
    font-family: inherit;
    font-weight: 400;
    text-decoration: none;
    padding-left: 15px;
}

.cards {
    display: flex;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-around;
    color: #de002b;
}

.demo-create-session, .demo-service-provider {
    height: 65%;
    width: 60%;
    margin:auto;
    vertical-align:middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.demo-inner-container img {
    width: 100%;
}

.create-session-circle, .service-provider-circle {
    border: solid 3px #d87070;
    cursor: pointer;
    position: absolute;
}

.demo-inner-container {
    position: relative;
    overflow: hidden;
}

.image-holder {
    position: relative;
}

[class*='circle-label'] {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    text-align: center;
    font-weight: 600;
    background-color: #222;
    color: #fff;
}

[class*='demo-overlay'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #000;
    opacity: 0.75;
    border-radius: 5px;
    border: 1px solid #000;
}

[class*='start-demo-btn'] {
    position: absolute;
    z-index: 6;
    left: 50%;
    top: 40%;
    margin-left: -7.2em;
    color: #de002b;
    font-weight: 600;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 3px 0px black;
    cursor: pointer;
}

[class*='start-demo-btn']:hover {
    color: #fff;
    background: #de002b;
}
