body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[role='button'] {
  cursor: pointer;
}

.nav-item.active {
  color: $red; //TODO: improve this workaround somehow
}
