a {
  transition: $btn-transition;
}

#nprogress {
  .bar {
    background: $primary!important;
  }

  .peg {
    box-shadow: 0 0 10px $primary, 0 0 5px $primary!important;
  }

  .spinner-icon {
    border-top-color: $primary!important;
    border-left-color: $primary!important;
  }
}

.noty_layout {
  .noty_bar {
    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }
}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: $form-file-height;
  margin-bottom: 0;
  backface-visibility: hidden;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: $form-file-height;
  padding: $form-file-padding-y $form-file-padding-x;
  font-family: $form-file-font-family;
  font-weight: $form-file-font-weight;
  line-height: $form-file-line-height;
  color: $form-file-color;
  background-color: $form-file-bg;
  border: $border-width solid $form-file-border-color;

  @include border-radius($form-file-border-radius);
  @include box-shadow($form-file-box-shadow);

  &::after {
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    height: $form-file-height;
    padding: $form-file-padding-y $form-file-padding-x;
    color: $form-file-button-color;
    content: 'Browse';

    @include gradient-bg($form-file-button-bg);

    border-left: inherit;

    @include border-right-radius(inherit);
  }
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: $form-file-height;
  margin: 0;
  opacity: 0;
  cursor: pointer;

  &:focus ~ .custom-file-label {
    border-color: $form-file-focus-border-color;
    box-shadow: $form-file-focus-box-shadow;
  }

  &[disabled] ~ .custom-file-label,
  &:disabled ~ .custom-file-label {
    background-color: $form-file-disabled-bg;
    border-color: $form-file-disabled-border-color;
  }

  ~ .custom-file-label[data-browse]::after {
    content: attr(data-browse);
  }
}

.dropdown-toggle {
  &::after {
    transition: transform 0.2s;
  }

  &[aria-expanded='true'] {
    &::after {
      transform: scale(-1) translate(0, -3px) rotate(-45deg);
    }
  }
}

.border-dashed {
  border-style: dashed !important;
}

.form-selectgroup-input:checked + .form-selectgroup-label {
  border-color: currentColor;
}
.form-check-input {
  cursor: pointer;
}

.nav-tabs {
  .nav-link {
    &:hover,
    &.active {
      color: $nav-tabs-link-active-color;
    }
  }
}

.b-popover {
  width: 100%;

  .arrow {
    position: absolute;
    width: 1rem;
    height: 0.5rem;
    margin: 0 0.3rem;

    &::after,
    &::before {
      position: absolute;
      display: block;
      content: '';
      border-color: transparent;
      border-style: solid;
    }
  }
}

.bs-popover-bottom > .arrow,
.bs-popover-auto[x-placement^='bottom'] > .arrow {
  top: calc(-0.5rem - 1px);
}

.bs-popover-bottom > .arrow::before,
.bs-popover-auto[x-placement^='bottom'] > .arrow::before {
  top: 0;
  border-width: 0 0.5rem 0.5rem;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-bottom > .arrow::after,
.bs-popover-auto[x-placement^='bottom'] > .arrow::after {
  top: 1px;
  border-width: 0 0.5rem 0.5rem;
  border-bottom-color: #fff;
}

.tabs {
  .nav-tabs {
    .nav-link {
      &:focus {
        outline: 0;
      }
    }
  }
}

.list-group-transparent {
  .list-group-item {
    &.active {
      background-color: #fff;
    }
  }
}

.table {
  &-cell_min-w {
    min-width: 150px;
  }
}
.text-break {
  word-break: break-word;
}
.outline {
  &-light {
    outline: 1px solid $gray-100;
  }

  &-dark {
    outline: 1px solid $gray-900;
  }
}

dt .badge {
  font-size: 0.7rem;
}
