a {
    transition: $btn-transition;
}

.custom-control-label {
    &::before,
    &::after {
        top: -0.125rem;
    }
}

.nav-tabs {
    .nav-item {
        padding: 0 1rem;

        i {
            position: relative;
            top: -0.125rem;
            width: 0.75rem;
            font-size: 0.75rem;
        }
    }

    .nav-link {
        &.active {
            color: map-get($map: $theme-colors, $key: 'primary');
            border-color: currentColor;
        }
    }
}

.nav-link {
    color: inherit;

    &:hover {
        color: inherit;
    }
}

.dropdown-icon {
    color: inherit;
}

.border-dashed {
    border-style: dashed !important;
}

.border-dotted {
    border-style: dotted !important;
}

.btn.disabled,
.dataTables_wrapper .dataTables_paginate .disabled.paginate_button,
.btn:disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button:disabled {
    color: $white;
    border-color: $gray-300;
    background-color: $gray-300;
    opacity: 1;
    cursor: not-allowed;
}

.font-weight-medium {
    font-weight: 500 !important;
}

.dropdown-toggle {
    display: flex;
    align-items: baseline;

    &[aria-expanded='true'] {
        &::after {
            transform: scale(-1);
        }
    }

    &-no-caret {
        &::after {
            display: none;
        }
    }

    &::after {
        content: '\E92D';
        position: relative;
        top: 2px;
        font-family: 'feather' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        border: 0;
        vertical-align: 0;
    }
}

.alert-dismissible {
    .close {
        height: 100%;
        line-height: 1;

        &::before {
            display: none;
        }
    }
}

#nprogress {
    .bar {
        background: $primary;
    }

    .peg {
        box-shadow: 0 0 10px $primary, 0 0 5px $primary;
    }

    .spinner-icon {
        border-top-color: $primary;
        border-left-color: $primary;
    }
}
