a {
    transition: $btn-transition;
}

.custom-control-label {
    &::before,
    &::after {
        top: -0.125rem;
    }
}

.nav-tabs {
    .nav-item {
        padding: 0 1rem;

        i {
            position: relative;
            top: -0.125rem;
            width: 0.75rem;
            font-size: 0.75rem;
        }
    }

    .nav-link {
        &.active {
            color: map-get($map: $theme-colors, $key: 'primary');
            border-color: currentColor;
        }
    }
}

.nav-link {
    color: inherit;

    &:hover {
        color: inherit;
    }
}

.dropdown-icon {
    color: inherit;
}
