%dark-mode-override {
  .card,
  .card-footer,
  .card-header {
    border-color: $dark-mode-border !important;
  }
  [class*='border'] {
    border-color: $dark-mode-border !important;
  }
  .dropdown-menu {
    border-color: $dark-mode-border !important;
  }
  .alert {
    &-danger {
      color: $white;
      background-color: rgba(222, 0, 43, 0.4);
    }
    &-success {
      color: $white;
      background-color: rgba(0, 161, 130, 0.4);
    }
    &-warning {
      color: $white;
      background-color: rgba(252, 187, 44, 0.4);
    }
    &-secondary {
      color: $white;
      background-color: rgba(124, 124, 124, 0.4);
    }
  }
  .btn-secondary {
    @include button-variant(
      $dark-mode-border,
      $border-color,
      $dark-mode-text,
      rgba($dark-mode-border, 0.8),
      $border-color,
      $dark-mode-text
    );

    background-image: none;
  }
  .v-select {
    color: $dark-mode-text;
    background-color: $dark-mode-darken;
    .vs__dropdown-menu {
      background-color: $dark-mode-darken;
    }
    .vs__dropdown-option {
      &--highlight {
        background-color: $dark;
      }
    }
    &.vs--disabled {
      .vs__dropdown-toggle,
      .vs__clear,
      .vs__search,
      .vs__selected,
      .vs__open-indicator {
        background-color: $dark-mode-darken;
      }
    }
  }

  .nav-tabs {
    .nav-link {
      color: $gray-300;
    }
  }

  .json-tree-wrapper {
    background-color: $dark-mode-darken;
    .vjs-tree {
      &__brackets {
        &:hover {
          color: $gray-600 !important;
        }
      }
    }
  }

  .json-editor {
    color: $dark-mode-text;
    background-color: $dark-mode-darken;
    .key__input,
    .new-item-form__input,
    .json-editor__select {
      color: $dark-mode-text;
    }
  }
  .table {
    &-hover {
      tbody {
        tr:hover {
          color: $dark-mode-text;
        }
      }
    }
    th,
    td {
      border-color: $dark-mode-border !important;
    }
  }

  .mermaid-diagram {
    .node {
      rect {
        fill: $dark;
      }
    }

    .edgeLabel,
    .actor {
      background-color: $dark;
    }

    .edgeLabel,
    .label,
    .messageText {
      color: $dark-mode-text;
    }

    .messageText {
      fill: $dark-mode-text;
    }

    .actor {
      fill: $dark;

      tspan {
        fill: $dark-mode-text;
      }
    }
  }

  .list-group-item {
    border-color: $dark-mode-border !important;
    &-action {
      &.active {
        color: $dark-mode-text;
        background-color: $dark-mode-darken;
      }

      &:hover,
      &:focus {
        color: $dark-mode-text;
        background-color: rgba($dark-mode-darken, 0.8);
      }
    }
  }

  .list-group-transparent {
    .list-group-item-action {
      &.active {
        color: $dark-mode-text;
        background-color: $dark-mode-lighten;
      }

      &:hover,
      &:focus {
        color: $dark-mode-text;
        background-color: rgba($dark-mode-darken, 0.8);
      }
    }
  }

  .scenario-card {
    color: $dark-mode-text;
  }

  .custom-file-label {
    color: $dark-mode-text;
    background-color: $dark-mode-darken;
    border-color: $dark-mode-border !important;

    &::after {
      @include button-variant(
        $dark-mode-border,
        $border-color,
        $dark-mode-text,
        rgba($dark-mode-border, 0.8),
        $border-color,
        $dark-mode-text
      );

      background-image: none;
    }
  }
  .form-control,
  .input-group-text {
    border-color: $dark-mode-border !important;
  }
}

.theme-dark {
  @extend %dark-mode-override;
  & ~ div {
    .modal-content,
    .modal-header {
      color: $dark-mode-text;
      background-color: $dark;
      border-color: $dark-mode-border !important;
    }
    .modal-content {
      @extend %dark-mode-override;
    }
  }

  & ~ .popover.b-popover {
    color: $dark-mode-text;
    background-color: $dark;
    border-color: $dark-mode-text;
    @extend %dark-mode-override;
    &.bs-popover-bottom > .arrow {
      &::after {
        border-bottom-color: $dark;
      }
      &::before {
        border-bottom-color: rgba($dark-mode-text, 0.1);
      }
    }
    .popover-body {
      color: inherit;
    }
  }
}
