.theme-dark {
  .btn-secondary {
    @include button-variant(
      $gray-600,
      $border-color,
      $dark-mode-text,
      rgba($gray-600, 0.8),
      $border-color,
      $dark-mode-text
    );

    background-image: none;
  }
  .v-select {
    color: $dark-mode-text;
    background-color: $dark-mode-darken;
    .vs__dropdown-menu {
      background-color: inherit;
    }
    .vs__dropdown-option {
      &--highlight {
        background-color: $dark;
      }
    }
    &.vs--disabled {
      .vs__dropdown-toggle,
      .vs__clear,
      .vs__search,
      .vs__selected,
      .vs__open-indicator {
        background-color: $dark-mode-darken;
      }
    }
  }

  .nav-tabs {
    .nav-link {
      color: $gray-300;
    }
  }

  .json-tree-wrapper {
    background-color: $dark-mode-darken;
  }

  .json-editor {
    background-color: $dark-mode-darken;
    .key__input,
    .new-item-form__input,
    .json-editor__select {
      color: $dark-mode-text;
    }
  }

  & ~ div {
    .modal-content,
    .modal-header {
      color: $dark-mode-text;
      background-color: $dark;

      .json-tree-wrapper {
        background-color: inherit;
      }
    }

    .modal-content {
      .btn-secondary {
        @include button-variant(
          $gray-600,
          $border-color,
          $dark-mode-text,
          rgba($gray-600, 0.8),
          $border-color,
          $dark-mode-text
        );

        background-image: none;
      }
    }
  }

  & ~ .popover.b-popover {
    color: $dark-mode-text;
    background-color: $dark;
    border-color: $dark-mode-text;

    &.bs-popover-bottom > .arrow {
      &::after {
        border-bottom-color: $dark;
      }

      &::before {
        border-bottom-color: rgba($dark-mode-text, 0.1);
      }
    }

    .popover-body {
      color: inherit;
    }

    .json-tree-wrapper {
      background-color: inherit;
    }

    .nav-tabs {
      .nav-link {
        color: $gray-300;
      }
    }
  }

  .table-hover {
    tbody {
      tr:hover {
        color: $dark-mode-text;
      }
    }
  }

  .mermaid-diagram {
    .node {
      rect {
        fill: $dark;
      }
    }

    .edgeLabel,
    .actor {
      background-color: $dark;
    }

    .edgeLabel,
    .label,
    .messageText {
      color: $dark-mode-text;
    }

    .messageText {
      fill: $dark-mode-text;
    }

    .actor {
      fill: $dark;

      tspan {
        fill: $dark-mode-text;
      }
    }
  }

  .list-group-item-action {
    &.active {
      color: $dark-mode-text;
      background-color: $dark-mode-darken;
    }

    &:hover,
    &:focus {
      color: $dark-mode-text;
      background-color: rgba($dark-mode-darken, 0.8);
    }
  }

  .list-group-transparent {
    .list-group-item-action {
      &.active {
        color: $dark-mode-text;
        background-color: $dark-mode-lighten;
      }

      &:hover,
      &:focus {
        color: $dark-mode-text;
        background-color: rgba($dark-mode-darken, 0.8);
      }
    }
  }

  .scenario-card {
    color: $dark-mode-text;
  }

  .custom-file-label {
    color: $dark-mode-text;
    background-color: $dark-mode-darken;

    &::after {
      color: $dark-mode-text;
      background-color: $gray-500;
    }
  }
}
