/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/webpack-stats
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
docker-compose.yml
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php
