{
    "quoteProps": "consistent",
    "singleQuote": true,
    "tabWidth": 2,
    "overrides": [
        {
          "files": "*.php",
          "options": {
            "tabWidth": 4
          }
        }
      ]
}
